
 .nav-logo{
   width: 150px;
 }

 .nav-logo:hover{
   filter: invert(100);
 }

.pull-right{
  margin-top: 16px;
}

.navigation-bar{
  border-radius: 0;
  background-color: rgba(255,255,255,1.0);
  width: 100%;
  border: 0px;
}

.navbar-inverse .navbar-nav>li>a{
  color: #222222;
  font-weight: bold;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: darkred;
}

.navbar-inverse .navbar-toggle{
  border: 0px solid #444444;
}

.navbar-inverse .navbar-collapse{
  border: 0px;
}
